@import '@mantine/core/styles.css';

@import '@mantine/dropzone/styles.css';
@import '@mantine/carousel/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/nprogress/styles.css';
@import '@mantine/spotlight/styles.css';


*::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

:root {
    --color-primary-light: oklch(87% 0.065 274.039);
    --color-primary-main: oklch(67.3% 0.182 276.935);
    --color-primary-dark: oklch(48.8% 0.243 264.376);
  
    /* backgrounds */
    --color-background-primary: #f0f0f0;
    --color-background-card: #ffffff;
  
    /* text */
    --color-text-primary: #000000;

    --nl-hover:  oklch(67.3% 0.182 276.935);
  }
  

  /* ✅ Dark scheme overrides */
  [data-mantine-color-scheme="dark"] {
    --color-background-primary: #161C24;
    --color-background-card: #212B36;
    --color-text-primary: #ffffff;
  }

  body {
    user-select: none;
  }
  
  /* Optional: allow selection for specific elements */
  input, textarea {
    user-select: text;
  }
